CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin/
*.swp

# for Visual Studio
.vs/
*.user

# Doxygen
document/html/
document/latex/
